/* global resets and padding for icons container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hamburger-icons {
  padding:5%;
}

/* basic styling for default svg button */
button {
    background: transparent;
    border:10px solid var(--icon-color, #000);
    border-radius: 1rem;
    cursor: pointer;
}

/* ------ STYLING AND ANIMATIONS FOR FIRST ICON  ------------- */

.button-one {
    --icon-color: darkgreen;
}

.button-one .line {
    transform-origin: center;
    transition: y .3s ease-out .3s, opacity 0ms .3s, rotate .3s ease-out;
}


.button-one[data-state="opened"] .line {
    transition: y 300ms ease-in, rotate .3s ease-in .3s, opacity 0ms .3s;
}

.button-one[data-state="opened"] .top {
    rotate: 45deg;
    y: 45;
}

.button-one[data-state="opened"] .mid {
    opacity: 0;
}

.button-one[data-state="opened"] .bot {
    rotate: -45deg;
    y: 45;
}

/* firefox fix (it does not animate x or y svg properties */
@-moz-document url-prefix() {
    .button-one[data-state="opened"] .top {
        rotate: 45deg;
        transform: translateY(20%);
    }    

    .button-one[data-state="opened"] .bot {
        rotate: -45deg;
        transform: translateY(-20%);
    }   
    
    .button-one .line {
        transform-origin: center;
        transition: transform .3s ease-out .3s, opacity 0ms .3s, rotate .3s ease-out;
    }

    .button-one[data-state="opened"] .line {
        transition: transform 300ms ease-in, rotate .3s ease-in .3s, opacity 0ms .3s;
    }
}


/*  ---------------------- FIRST ICON END ------------------------------- */


/* ------ STYLING AND ANIMATIONS FOR SECOND ICON  ------------- */

.button-two  {
    --icon-color: maroon;
}

.button-two .line {
    transform-origin: center;
}

.button-two[data-state="closed"] .line {
    transform-origin: center;
    animation: to-open-icon-one 1s 0s 1 forwards,
               to-open-icon-two 1s 0s 1 forwards;
}

.button-two[data-state="opened"] .line {
    animation: form-X-shape-animation-one 1s 0s 1 forwards,
               form-X-shape-animation-two 1s 0s 1 forwards;
}

.button-two .line.top {
    --rotation: 45deg;
    --moveY: 10%

} 

.button-two .line.bot {
    --rotation: -45deg;
    --moveY: -10%
}

/* animations for forming x shape on hover */
@keyframes form-X-shape-animation-one {
    0% { stroke-dashoffset: 0; }
    40% { stroke-dashoffset: 69.9; }
    60% { stroke-dashoffset: 69.9; transform:translateY(var(--moveY)) }
    100% { stroke-dashoffset: 0; transform:translateY(var(--moveY)) }
}

@keyframes form-X-shape-animation-two {
    0% { rotate: 0deg}
    60% { rotate: var(--rotation)}
    100% { rotate: var(--rotation) }
}

/* animations for reverting to default state on hover end */
@keyframes to-open-icon-one {
    0% { rotate: var(--rotation) }
    40% { rotate: var(--rotation)}
    100% { rotate: 0deg}
}

@keyframes to-open-icon-two {
    0% { stroke-dashoffset: 0; transform:translateY(var(--moveY)) }
    40% { stroke-dashoffset: 69.9; transform:translateY(var(--moveY)) }
    60% { stroke-dashoffset: 69.9; }
    100% { stroke-dashoffset: 0; }
}

/*  ---------------------- SECOND ICON END ------------------------------- */


/*  ------------------------ THIRD ICON ------------------------------- */


.button-three {
    --icon-color: indigo;
    overflow: hidden;
    /* background: linear-gradient(to right, transparent calc(50% - 1px),green calc(50% - 1px), green calc(50% + 1px), transparent calc(50% + 1px), transparent 100%); */
}

.button-three .hamburger {
    transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
    translate: 6% -5.65%;
    rotate: 45deg;
}

.button-three .line {
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    stroke-dasharray: 60 31.41 60 1000;
}

.button-three[aria-expanded="true"] .line {
    stroke-dasharray: 60 103 60 1000;
    stroke-dashoffset: -91.4;
}
