/* global resets and padding for icons container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hamburger-icons {
  padding:5%;
}

/* basic styling for default svg button */
button {
    background: transparent;
    border:10px solid var(--icon-color, #000);
    border-radius: 1rem;
}

/* ------ STYLING AND ANIMATIONS FOR FIRST ICON  ------------- */

.button-one {
    --icon-color: darkgreen;
}

.button-one .line {
    transform-origin: center;
    transition: y .3s ease-out .3s, opacity 0ms .3s, rotate .3s ease-out;
}


.button-one:hover .line {
    transition: y 300ms ease-in, rotate .3s ease-in .3s, opacity 0ms .3s;
}

.button-one:hover .top {
    rotate: 45deg;
    y: 45;
}

.button-one:hover .mid {
    opacity: 0;
}

.button-one:hover .bot {
    rotate: -45deg;
    y: 45;
}

.button-one[aria-expanded="true"] .top {

}

/* firefox fix (it does not animate x or y svg properties */
@-moz-document url-prefix() {
    .button-one:hover .top {
        rotate: 45deg;
        transform: translateY(20%);
    }    

    .button-one:hover .bot {
        rotate: -45deg;
        transform: translateY(-20%);
    }   
    
    .button-one .line {
        transform-origin: center;
        transition: transform .3s ease-out .3s, opacity 0ms .3s, rotate .3s ease-out;
    }

    .button-one:hover .line {
        transition: transform 300ms ease-in, rotate .3s ease-in .3s, opacity 0ms .3s;
    }
}


/*  ---------------------- FIRST ICON END ------------------------------- */


/* ------ STYLING AND ANIMATIONS FOR SECOND ICON  ------------- */

.button-two  {
    --icon-color: maroon;
}

.button-two .line {
    transform-origin: center;
}

.button-two:hover .line {
    animation: form-X-shape-animation-one 1s 0s 1 forwards,
               form-X-shape-animation-two 1s 0s 1 forwards;
}

.button-two .line.top {
    --rotation: 45deg;
    --moveY: 10%

} 

.button-two .line.bot {
    --rotation: -45deg;
    --moveY: -10%
}

@keyframes form-X-shape-animation-one {
    0% { stroke-dashoffset: 0; }
    40% { stroke-dashoffset: 69.9; }
    60% { stroke-dashoffset: 69.9; transform:translateY(var(--moveY)) }
    100% { stroke-dashoffset: 0; transform:translateY(var(--moveY)) }
}

@keyframes to-open-icon {
    0% { stroke-dashoffset: 69.9; }
    100% { stroke-dashoffset: 0; }
}

@keyframes form-X-shape-animation-two {
    0% { rotate: 0deg}
    /* 40% { rotate:0deg } */
    60% { rotate: var(--rotation)}
    100% { rotate: var(--rotation) }
}